.example-section {
  width: 300px;
  margin-left: 400px;
}

.dropdown-toggle {
  cursor: pointer;
  user-select: none;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  padding: 5px;
}

.subtask-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.subtask-item {
  margin: 4px 0;
  padding: 8px;
  border-radius: 4px;
}



